allow system_server touchpanel_sysfs:dir search;
allow system_server touchpanel_sysfs:file rw_file_perms;

# examine battery state
r_dir_file(system_server, sysfs_usb_supply);
